#map {
      /*	width:100%;
        height:100%;*/
		z-index:10;
      }
	  
#mapPage {
	width	:	100%;
	height	:	100%;
	overflow:	hidden;
}

#mapPage .ui-header {
	z-index: 99;
    position : absolute;
    top      : 0px;
    left     : 0px;
    width    : 100%;
  /*  height   : 50px;*/
}
#mapPage .ui-footer {
    position : absolute;
    bottom   : 0px;
    left     : 0px;
    width    : 100%;
  /*  height   : 50px;*/
}

#map_zoom_slider {
	top : 60px !important;
}

@-webkit-keyframes
       pulse
      {
        0%
        {
          opacity: 1.0;

        }
        45%
        {
          opacity: .20;

        }
        100%
        {
          opacity: 1.0;

        }
      }
	  
@-moz-keyframes
       pulse
      {
        0%
        {
          opacity: 1.0;
        }
        45%
        {
          opacity: .20;

        }
        100%
        {
          opacity: 1.0;
        }
      }

#map_graphics_layer {
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-name: pulse;
}

#transparencySlider {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	}
#footerDiv {
	text-align : center;
}

#footer {
	visibility: hidden;
	display: none;
}
#toolbar {
	visibility: hidden;
	display: none;
}

#infoDiv {
	visibility: hidden;
	display: none;
	z-index: 999;
}
/*
.noFlash {
	-webkit-backface-visibility: hidden;
}
*/
.ui-content {
    position : absolute;
    top      : 40px;
    right    : 0px;
    bottom   : 39px;
    left     : 0;
	height   :100%;
}
	
.splash {
   align: center;
}

.fullPage {
	width	:	100%;
	height	:	100%;
	overflow:	hidden;
}

.ui-dialog .ui-header, 
.ui-dialog .ui-content, 
.ui-dialog .ui-footer { 
	max-width: 500px; 
	margin: 10% auto 15px auto; 
}
