body
{
/*
overflow: hidden!important;
    
*/
  bottom:0;
  top:0;
}

#map
{
  z-index:1;
  height:100%!important;
  width:100%!important;
  bottom:0;
}

.map
{
  overflow:hidden!important;
  position:fixed!important;
}

#mapPage
{
  height:100%!important;
  width:100%!important;
  overflow:hidden;
}

#map_root
{
  height:100%;
}

;
#map_zoom_slider
{
  top:80px!important;
  visibility:hidden;
  z-index:2!important;
  position:fixed!important;
}

.esriSimpleSlider
{
  top:80px!important;
  visibility:hidden;
  z-index:2!important;
  position:fixed!important;
}

45%
{
  opacity:.20;
}

100%
{
  opacity:1.0;
}

#map_graphics_layer
{
  overflow:hidden!important;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name:pulse;
  -moz-animation-duration:3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name:pulse;
}

.hidden
{
  display:none!important;
  visibility:hidden;
}

.backToMapButton
{
  width:60px;
}

.strong
{
  font-weight:700;
}

.centered
{
  align:center;
}

.calButton
{
  vertical-align:middle!important;
  text-align:center!important;
  font-size:16px!important;
}

#toolbar
{
  visibility:hidden;
  display:none;
}

#infoDiv > div
{
  display:none;
}

#infoDiv
{
  font-size:.8em;
  z-index:4;
  display:block;
  position:fixed;
  top:10%;
  left:10%;
  right:10%;
  vertical-align:middle;
  overflow-y:auto;
  padding:10px 20px 0;
  margin:0 auto;
  background-color:rgba(255,255,255,.9);
  margin:10px;
  border:#000063 solid 2px;
  box-shadow:5px 8px 8px rgba(0,0,0,0.8);
  -webkit-box-shadow:5px 8px 8px rgba(0,0,0,0.8);
  -moz-box-shadow:5px 8px 8px rgba(0,0,0,0.8);
}

#observation-view-toggle
{
  text-align:center;
  display:none;
  top:17px;
  z-index:4;
  position:absolute;
  left:5px;
  width:150px;
}

#add-report-toggle
{
  text-align:center;
  display:none;
  top:17px;
  z-index:4;
  position:absolute;
  right:5px;
  width:150px;
}

#askAddStabTestDiv
{
  position:fixed;
  text-align:center;
  display:none;
  visibility:hidden;
  top:17px;
  z-index:5;
  position:absolute;
  width:300px;
  margin-right:-150px;
  right:/*;
    left: 50%;
    */
50%;
}




#mapPage
{
  min-height:100%!important;
  max-height:100%!important;
  width:100%;
}

.fullPage
{
  width:100%;
  height:100%;
  overflow:hidden;
}

#dateLabel
{
  font-size:20px;
  text-align:center;
  font-weight:bold;
  position:relative;
  top:28px;
  width:140px;
  margin:0 auto;
  background-color:rgba(255,255,255,0.5);
  text-shadow:3px 2px 6px white;
}

/*
#dateLabel {
    text-align: center;
    position: fixed;
    top: 32px;
    width: 100%;
    margin: 0 auto;
    font-weight:  bolder;
    text-shadow:  3px 2px 6px white;
}

#dateDiv {
    position: fixed;
    top: 32px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
}

*/
#minusDayBtn
{
  visibility:hidden;
  position:fixed;
  left:5px;
  top:10px;
}

#plusDayBtn
{
  visibility:hidden;
  position:fixed;
  right:5px;
  top:10px;
}



#footerGroup
{
  vertical-align:bottom;
  bottom:0;
  margin:0 .5em .1em;
  display:none;
/*padding-left: 10px;
     margin-bottom:  4px;
    margin-top:  4px;
    */
}

#footer
{
  z-index:2;
  position:fixed;
  bottom:0;
  width:100%;
}

.ui-controlgroup-controls {
	width: 100%;
}

.halfBTN
{
  width:49%;
}

/* wrap text in li */
p.ui-li-desc
{
  white-space:normal!important;
}


/**
*SPECIFIC MOBILE STYLE
#infoDiv {
    position: relative;
    top: 0;
    bottom: 0;
}
**/
@media only screen and max-width 721px {
  .ui-br
  {
    border-bottom-style:none!important;
  }
  
  .ui-content .ui-listview-inset
  {
    margin:-15px -5px!important;
  }
  
  #infoDiv
  {
    font-size:.8em;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:10px 20px 0;
    margin:0 auto;
    margin:10px;
  }
}